[Unit]
Description=Open Source Security System - libcamera-vid service
Documentation=https://github.com/jyro-io/osss
After=network-online.target
Wants=network-online.target

[Service]
Type=notify
ExecStart=/usr/bin/libcamera-vid --width 1024 --height 600 -t 0 --listen -o tcp://127.0.0.1:8888 --codec mjpeg
ExecReload=/bin/kill -s HUP $MAINPID
TimeoutStartSec=0
RestartSec=2
Restart=always

[Install]
WantedBy=multi-user.target