[Unit]
Description=Open Source Security System Camera
Documentation=https://github.com/jyro-io/osss
After=network-online.target
Wants=network-online.target
Requires=motion.service

[Service]
Type=notify
WorkingDirectory=/opt/osss
ExecStart=/opt/osss/osss-camera
ExecReload=/bin/kill -s HUP $MAINPID
TimeoutStartSec=0
RestartSec=2
Restart=always

[Install]
WantedBy=multi-user.target